.color-block {
  width: 250px;
  height: 250px;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid;
  transition: 0.3s;
  border-radius: 3px;
}

.color-block.active {
  border: 3px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
